.code-block-details {
    display: flex;
    flex-direction: column;
    align-items: center;

    .code-block-title {
        margin-block-start: rem(100px);
        margin-block-end: rem(30px);
        font-size: 2rem;

    }

    .icon-back {
        font-size: rem(25px);
    }
}