.main-layout {
    display: grid;
    grid-template-columns: $layoutPadding 1fr $layoutPadding;

    >* {
        grid-column: 2;
    }

    >*.full {
        grid-column: 1 / -1;
    }

    // > *:not(.full) {
    //     display: grid;
    //     grid-auto-flow: dense;
    // }

    @media (max-width: 500px) {
        @include main-layout(minmax(30px, 1fr), minmax(auto, 420px), minmax(30px, 1fr))
    }
}