
// COLOR PALETTE
// Login background 
$clr1: #16171b;
// Login text 
$clr2: #c8c8c9;
$clr3: darken($clr2, 40%);
// Sign in button 
$clr4: #bb432c;
// Login box background
$clr5: #222327;
// Contrast color - maybe for lobby codeblock
$clr6: #ecb613;
// Picked language
$clr7: #7ea9d8;

// LAYOUT
$layoutPadding: 100px;

// LAYOUT BREAKPOINTS
$break-narrow: 1200px;
$break-normal: 1360px;
$break-wide: 1920px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;